<h2>Add Comment</h2>
<%= form_with(model: Comment.new, url: ticket_comments_path(ticket), scope: :comment, local: true) do |f| %>
  <%= render 'shared/error_messages', object: Comment.new %>
  <%= select_tag :status, options_for_select([['New', 'new'], ['Blocked', 'blocked'], ['In Progress', 'in_progress'], ['Fixed', 'fixed']]), include_blank: 'Do Not Update Status' %>
  <%= f.label :body, class: '' %>
  <%= f.text_area :body, class: '' %>
  <%= f.submit 'Create Comment', class: '' %>
<% end %>

