<% provide(:title, 'Signup') %>
<% provide(:button_text, 'Create my account') %>

<h1>Signup</h1>
<%= form_with(model: @user, url: signup_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: '' %>
  <%= f.label :email %>
  <%= f.email_field :email, class: '' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: '' %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: '' %>
  <%= f.submit yield(:button_text), class: "" %>
<% end %>