<div class="content">
  <h1>All Tickets</h1>
  <div class="buttons">
    <%= link_to 'Create Ticket', new_ticket_path, class: 'button is-info' %>
  </div>
  <hr class="small-separate">
  <h4>Filter Tickets</h4>
  <%= form_tag tickets_path, method: :get, enforce_utf8: false do %>
        <div class="select">
          <%= select_tag :project, options_from_collection_for_select(Project.all, :id, :name, params[:project]), include_blank: "All Projects" %>
        </div>
        <div class="select">
          <%= select_tag :status, options_for_select([['New', 'new'], ['Blocked', 'blocked'], ['In Progress', 'in_progress'], ['Fixed', 'fixed']], params[:status]), include_blank: 'Any Status' %>
        </div>
        <div class="select">
          <%= select_tag :tag, options_from_collection_for_select(Tag.all.alphabetize, :id, :name, params[:tag]), include_blank: '-' %>
        </div>
        <%= button_tag 'Filter', { class: 'button is-info' } %>
        <%= link_to 'Clear Filters', tickets_path, class: 'button is-light' %>
  <% end %>
  <hr class="small-separate">
  <% if @tickets.length.zero? %>
    <p>No tickets.</p>
  <% else %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Assignee</th>
        <th>Status</th>
        <th>Tags</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.name, ticket_path(ticket) %></td>
            <% if ticket.assignee_id %>
              <td><%= User.find(ticket.assignee_id).name %></td>
            <% else %>
              <td>-</td>
            <% end %>
            <td><%= ticket.status.titleize %></td>
            <td><%= ticket.tags.length > 0 ? ticket.tags.alphabetize.map(&:name).join(', ') : '-' %></td>
            <td><%= link_to "Edit", edit_ticket_path(ticket.id) %> or          <%= link_to "Delete", ticket_path(ticket.id), data: {:confirm => 'Are you sure?'}, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
